dist/* -linguist-detectable linguist-generated=true
index.d.ts -linguist-detectable linguist-generated=true
index.js -linguist-detectable linguist-generated=true
index.js.map linguist-generated=true
index.mjs -linguist-detectable linguist-generated=true
